.wp-site-blocks {
    > .wp-block-template-part {
        .header {
            &.wp-block-columns {
                align-items: center !important;
                margin-bottom: 0;
                padding-top: 32px;

                @media (max-width: 768px) {
                    .wp-block-column {
                        .wp-block-site-logo {
                            text-align: center;
                        }

                        .wp-block-navigation {
                            ul {
                                justify-content: center !important;
                            }
                        }
                    }
                }
            }

            .wp-block-navigation__responsive-container-open  {
                position: absolute;
                right: 16px;
                top: -100px;
            }
            .wp-block-navigation-item__content {
                &:hover,
                &[aria-current="page"] {
                    span {
                        color: var(--tertiary-color);
                    }
                }
            }
        }
    }
}
