@font-face {
    font-display: swap;
    font-family: "Brandon Grotesque";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/BrandonGrotesque-Bold.woff2");
}

@font-face {
    font-display: swap;
    font-family: "Brandon Grotesque Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/BrandonGrotesque-Bold.woff2");
}

