:root {
    --primary-color:    #314460;
    --secondary-color:  #B9B19C;
    --tertiary-color:   #B7B677;
    --quaternary-color: #B7B677;
    --white-color:      #FFF;
    --black-color:      #192132;
    --leading-loose:    34px;
    --gradient-home:    linear-gradient(45deg,rgb(49,68,96) 0%,rgb(25,33,50) 100%);

    --container:        1152px;
}
