.home,
.page-template-page-about,
.page-template-page-default:not(.page-template-template-categorias) {
    height: 100vh;
    width: 100vw;
}

.page,
.home {
        .wp-block-columns {
            .post-title {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1,
                h2 {
                    margin: 0;
                    line-height: 1;
                }

                @media (max-width: 768px) {
                    h2 {
                        &.has-section-header-font-size {
                            font-size: var(--wp-preset-font-size-section-header-mobile) !important;
                            text-align: left;
                        }
                    }

                    h1 {
                        &.has-text-color {
                            font-size: var(--wp-preset-font-size-section-hero-mobile);
                            text-align: left;
                        }
                    }
                }

                @media (max-width: 600px) {
                    h1,
                    h2 {
                        text-align: center;
                    }
                }
            }
        }

    .wp-site-blocks {
        @media (max-width: 768px) {
            padding-left: 16px;
            padding-right: 16px;

            .post-title-wrapper {
                flex-wrap: nowrap !important;

                > .wp-block-column {
                    &:not(.post-title) {
                        flex-basis: 30% !important;
                    }
                }
            }
        }

        @media (max-width: 640px) {
            .post-title-wrapper {
                > .wp-block-column {
                    flex-basis: 100% !important;

                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}

.home {
    .wp-site-blocks {
        background-image: url('../images/shapes.svg');
        background-repeat: no-repeat;
        background-position: 85% 80%;

        @media (max-width:640px) {
            background-image: none;
        }
    }
}

.page-template-page-about {
    .wp-site-blocks {
        background-image: url('../images/shape-b.svg');
        background-repeat: no-repeat;
        background-position: 85% 80%;

        @media ( max-width: 640px) {
            background-image: none;
        }
    }
}

.page-template-template-categorias {
    .wp-site-blocks {
        .post-title {
            .has-tertiary-color {
                color: var(--secondary-color) !important;
            }
        }

        .post-title-wrapper {
            @media (max-width: 640px) {
                > .wp-block-column {
                    &:not(.post-title) {
                        display: initial;
                    }

                    &.post-title {
                        flex-basis: 100% !important;
                        width: 100%;
                    }

                    &:last-child {
                        display: none;
                    }
                }


                .wp-block-post-content {
                    .wp-block-columns {
                        .wp-block-column {
                            width: 100%;
                            flex-basis: 100% !important;
                        }
                    }
                }
            }
        }
    }
}

.page:not(.home):not(.page-template-page-about) {
    .wp-site-blocks {
        background-image: url('../images/shape-c.svg');
        background-repeat: no-repeat;
        background-position: 85% 80%;

        @media ( max-width: 640px) {
            background-image: none;
        }
    }
}