.single-post,
.single-sensillo {
    .wp-site-blocks {
        .wp-block-post-title {
            color: var(--wp--preset--color--tertiary);
        }

        .wp-block-post-featured-image {
            float: left;
            max-width: 400px;

            img {
                width: 400px;
                object-fit: contain;
            }
        }
    }
}